/* Rebuild triggered */
@tailwind base;
@tailwind components;
@tailwind utilities;

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
body {
    font-family: 'Manrope', sans-serif;
    background-color: #eff8ff;
    color: #003346;
}
.glass-panel {
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px);
}
.kinetic-gradient {
    background: linear-gradient(135deg, #0050d4 0%, #7b9cff 100%);
}

